<div style="padding:30px;padding-right:50px">


    <a href="@Url.Action("Giohang","GioHang")" style="color: black; font-weight: bold; text-decoration: none; background-color: #f3f3f3;padding-top:20px;padding:10px ">
        <img src="~/Images/giohang.gif" />Giỏ Hàng (@ViewBag.Tongsoluong)
    </a>
</div>
