
@{
    ViewBag.Title = "HoatheoCD";
    Layout = "~/Views/Shared/UserPage1.cshtml";
}

<div id="products">
    <h3 class="header">Hoa Theo Chủ Đề </h3>@foreach (var sanPhan in Model)
    {
        <div class="item">
            <a href="@Url.Action("ChiTietHoa","TrangChu",new {id=sanPhan.MaSP })">
                <h3 class="productName">@sanPhan.TenSP</h3>
                <img class="productImg" src="~/Images/SPkhuyenmai/@sanPhan.AnhSP" width="150" />
            </a>
            <p class="productPrice">@sanPhan.Gia VND</p>
            <a class="productDetail" href="#">Chi tiết</a>
            <a class="productBuy" href="@Url.Action("ThemGiohang","GioHang",new {@iMasp= sanPhan.MaSP, @strURL=Request.Url.ToString() })">Mua hàng</a>
        </div>
    }
</div>
